[submodule "drone/src/serial"]
	path = drone/src/serial
	url = https://github.com/wjwwood/serial.git


[submodule "src/trajectory_gen/acados"]
	path = src/trajectory_gen/acados
	url = https://github.com/acados/acados.git
